---
rdf_prefix_path: "_data/prefixes.sparql"
---
{%- assign rootResource = site.rootResource | rdf_get -%}
{%- assign development = site.development -%}

{%- comment -%}
The following variables need to be adapted by you:
JJJJ=Year in which the final papers of the proceedings were produced
YYYY=Year in which the workshop took place (in most cases YYYY=JJJJ)
NNNN=Acronym of the Workshop
DD=Day of submission of the workshop proceedings to CEUR-WS.org
MM=Month of submission of the workshop proceedings (MM=01,02,03,04,05,06,07,08,09,10,11,12)

CEURLANG: the main language of the proceedings (eng, deu, fra, spa, rus, ita, por, ...)
       according to ISO 639-2/T (http://en.wikipedia.org/wiki/List_of_ISO_639-2_codes)
CEURVOLNR: the volume number of the proceedings **set by us**
CEURPUBYEAR: the year in which the proceedings volume was created (see also YYYY)
CEURURN: the URN of the volume **set by us**
CEURVOLACRONYM: the acronym of the workshop plus YYYY (year of the workshop)
       the acronym may contain '-'; between acronym and year is either a blank
       or a '-'. The year is exactly 4 digits, e.g. 2012
CEURVOLTITLE: the title of the proceedings
CEURFULLTITLE: the long title of the proceedings
CEURCOLOCATED: the acronym and year of the conference where this workshop was
    co-located with; use "NONE" if the workshop was not co-located with a conference
CEURLOCTIME: the place and time when the workshop took place
CEURVOLEDITOR: full name of an editor of the proceedings
CEURTOC: indicator for the start of the table of contents
CEURSESSION (optional): separator for a section within the table of contents
CEURTITLE: title of a paper within the table of contents
CEURPAGES (optional): numerical range of pages of a paper, e.g. 10-20
CEURAUTHOR: one author of a paper (use full names, do not include affiliations);
       multiple authors should be separated by commas
CEURPUBDATE: the precise date of publication at CEUR-WS.org **set by us**
CEURSUBMITTEDPAPERS: the total number of papers submitted for peer review to this volume
CEURACCEPTEDPAPERS: the total number of accepted peer-reviewed papers (excl. invited papers, keynotes etc)
CEURACCEPTEDREGULARPAPERS: the number of regular-size accepted peer-reviewed papers (optional)
CEURACCEPTEDSHORTPAPERS: the number of short accepted peer-reviewed papers  (optional)
{%- endcomment -%}

{%- assign workshop = rootResource -%}
{%- assign proceedings = workshop | rdf_property: "vivo:hasProceedings" -%}
{%- assign superEvent = workshop | rdf_inverse_property: "schema:subEvent" -%}

{%- assign JJJJ = proceedings | rdf_property: "dct:dateCopyrighted" | date: "%Y" -%}
{%- assign YYYY = workshop | rdf_property: "dct:date" | date: "%Y" -%}
{%- assign NNNN = workshop | rdf_property: "ceur:acronym" -%}
{%- assign DD = proceedings | rdf_property: "dct:dateSubmitted" | date: "%d" -%}
{%- assign MM = proceedings | rdf_property: "dct:dateSubmitted" | date: "%m" -%}

{%- assign label = workshop | rdf_property: "rdfs:label" -%}
{%- assign label_postfix = label | split: " " | last -%}
{%- unless label_postfix == YYYY -%}
{%- assign label = label | append: YYYY -%}
{%- endunless -%}
{%- assign homepage = workshop | rdf_property: "foaf:homepage" -%}
{%- assign CEURLANG = proceedings | rdf_property: "dct:language" | rdf_property: "lvont:iso6392TCode" -%}
{%- assign CEURPUBYEAR = JJJJ -%}
{%- assign CEURWSYEAR = YYYY -%}
{%- assign CEURVOLACRONYM_DEFAULT = NNNN | append: " " | append: YYYY -%}
{%- assign CEURVOLACRONYM = proceedings | rdf_property: "ceur:volacronym" | default: CEURVOLACRONYM_DEFAULT -%}
{%- assign CEURVOLTITLE =  proceedings | rdf_property: "ceur:voltitle" -%}
{%- assign CEURFULLTITLE = label | prepend: "Proceedings of the " -%}
{%- if superEvent -%}
{%- assign CEURCOLOCATED = superEvent | rdf_property: "ceur:acronym" -%}
{%- else -%}
{%- assign CEURCOLOCATED = "NONE" -%}
{%- endif -%}
{%- assign colocated_label = superEvent | rdf_property: "rdfs:label", site.language -%}
{%- unless colocated_label -%}
{%- assign colocated_label = superEvent | rdf_property: "rdfs:label" -%}
{%- endunless -%}
{%- assign location = workshop | rdf_property: "schema:location" -%}
{%- unless location -%}
{%- assign location = superEvent | rdf_property: "schema:location" -%}
{%- endunless -%}
{%- assign country = location | rdf_property: "schema:addressCountry" -%}
{%- assign locality = location | rdf_property: "schema:addressLocality" -%}
{%- assign CEURLOCTIME = workshop | rdf_property: "dct:date" | date: "%B %e, %Y" | prepend: ", " | prepend: country | prepend: ", " | prepend: locality -%}

{%- assign editors = workshop | rdf_property: "schema:organizer" | rdf_container -%}
{%- unless editors.first -%}
{%- assign editors = workshop | rdf_property: "schema:organizer" | rdf_collection -%}
{%- endunless -%}
{%- unless editors.first -%}
{%- assign editors = workshop | rdf_property: "schema:organizer", nil, true -%}
{%- endunless -%}

{%- capture subevent_query -%}
select distinct ?entity {
  ?resourceUri schema:subEvent ?entity .
  ?entity schema:startTime ?time .
  optional {
    ?entity site:track ?track
  }
  filter(!bound(?track) || ?track != dw:pause)
} order by ?time
{%- endcapture -%}

{%- assign CEURSUBMITTEDPAPERS = workshop | rdf_property: "ceur:submittedpapers" -%}
{%- assign CEURACCEPTEDPAPERS = workshop | rdf_property: "ceur:acceptedpapers" -%}
{%- assign CEURACCEPTEDREGULARPAPERS = workshop | rdf_property: "ceur:acceptedregularpapers" -%}
{%- assign CEURACCEPTEDSHORTPAPERS = workshop | rdf_property: "ceur:acceptedshortpapers" -%}
{%- assign invited_papers = workshop | rdf_property: "ceur:invitedpapers" -%}
<!DOCTYPE html>
<!-- CEURVERSION=2020-07-09 -->
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../ceur-ws.css">
<title>CEUR-WS.org/Vol-XXX - {{ label }}</title>
</head>
<!--CEURLANG=eng -->
<body>
{% if development %}
<pre># Editing instructions
# The following variables need to be adapted by you:
# JJJJ="{{JJJJ}}" Year in which the final papers of the proceedings were produced
# YYYY="{{YYYY}}" Year in which the workshop took place (in most cases YYYY=JJJJ)
# NNNN="{{NNNN}}" Acronym of the Workshop
# DD="{{DD}}" Day of submission of the workshop proceedings to CEUR-WS.org
# MM="{{MM}}" Month of submission of the workshop proceedings (MM=01,02,03,04,05,06,07,08,09,10,11,12)
# The variable
# XXX=Volume number of the proceedings with CEUR-WS.org
# shall be set by CEUR-WS.org. CEUR-WS.org shall also set the publication date.
#
#
# (*) Replace title of the workshop in the title element
# (*) Replace title of the workshop in the heading h1 element
# (*) Note that the style file ceur-ws.css and the image CEUR-WS-logo.png are referring to files within
#     the CEUR-WS.org web site; they are not part of the submission directory
# (*) Remove lines starting with #  or &lt;pre&gt;# when preparing the file index.html
#
# Some elements are tagged with a "class=CEUR..." clause. Be careful to maintain these tags!
# They are used both for formatting purposes and for identifying bibliographic elements.
# The CEUR class tags are as follows:
#          CEURLANG: ({{CEURLANG}}) the main language of the proceedings (eng, deu, fra, spa, rus, ita, por, ...)
#                 according to ISO 639-2/T (http://en.wikipedia.org/wiki/List_of_ISO_639-2_codes)
#          CEURVOLNR: the volume number of the proceedings **set by us**
#          CEURPUBYEAR: ({{CEURPUBYEAR}}) the year in which the proceedings volume was created (see also YYYY ({{CEURWSYEAR}}))
#          CEURURN: the URN of the volume **set by us**
#          CEURVOLACRONYM: ({{CEURVOLACRONYM}}) the acronym of the workshop plus YYYY (year of the workshop)
#                 the acronym may contain '-'; between acronym and year is either a blank
#                 or a '-'. The year is exactly 4 digits, e.g. 2012
#          CEURVOLTITLE: ({{CEURVOLTITLE}}) the title of the proceedings
#          CEURFULLTITLE: ({{CEURFULLTITLE}}) the long title of the proceedings
#          CEURCOLOCATED: ({{CEURCOLOCATED}}) the acronym and year of the conference where this workshop was
#              co-located with; use "NONE" if the workshop was not co-located with a conference
#          CEURLOCTIME: ({{CEURLOCTIME}}) the place and time when the workshop took place
#          CEURVOLEDITOR: ({{CEURVOLEDITOR}}) full name of an editor of the proceedings
#          CEURTOC: indicator for the start of the table of contents
#          CEURSESSION (optional): separator for a section within the table of contents
#          CEURTITLE: title of a paper within the table of contents
#          CEURPAGES (optional): numerical range of pages of a paper, e.g. 10-20
#          CEURAUTHOR: one author of a paper (use full names, do not include affiliations);
#                 multiple authors should be separated by commas
#          CEURPUBDATE: the precise date of publication at CEUR-WS.org **set by us**
#          CEURSUBMITTEDPAPERS: ({{CEURSUBMITTEDPAPERS}}) the total number of papers submitted for peer review to this volume
#          CEURACCEPTEDPAPERS: ({{CEURACCEPTEDPAPERS}}) the total number of accepted peer-reviewed papers (excl. invited papers, keynotes etc)
#          CEURACCEPTEDREGULARPAPERS: ({{CEURACCEPTEDREGULARPAPERS}}) the number of regular-size accepted peer-reviewed papers (optional)
#          CEURACCEPTEDSHORTPAPERS: ({{CEURACCEPTEDSHORTPAPERS}}) the number of short accepted peer-reviewed papers  (optional)
#
#</pre>
{% endif %}


<table style="border: 0; border-spacing: 0; border-collapse: collapse; width: 95%">
<tbody><tr>
<td style="text-align: left; vertical-align: middle">
<a href="http://ceur-ws.org/"><div id="CEURWSLOGO"></div></a>
</td>
<td style="text-align: right; vertical-align: middle">
<div style="float:left" id="CEURCCBY"></div>
<span class="CEURVOLNR">Vol-XXX</span> <br>
<span class="CEURURN">urn:nbn:de:0074-XXX-C</span>
<p class="unobtrusive copyright" style="text-align: justify">Copyright &copy; {{JJJJ}} for
the individual papers by the papers' authors.
Copyright &copy; <span class="CEURPUBYEAR">{{CEURPUBYEAR}}</span> for the volume
as a collection by its editors.
This volume and its papers are published under the
Creative Commons License Attribution 4.0 International
<A HREF="https://creativecommons.org/licenses/by/4.0/">(<span class="CEURLIC">CC BY 4.0</span>)</A>.</p>
</td>
</tr>
</tbody></table>

<hr>
{% if development %}
<pre># Instructions for the Proceedings Title
# The layout of the proceedings title can be adapted to your needs.
# Make sure to include all proceedings editors and their affiliations.
# Links to home pages are fine but not required. Some workshops have
# a special logo. This could be included here provided that you own the
# copyright to the logo. Do NOT include logos of companies, products,
# or sponsors.
#</pre>
{% endif %}

<br><br><br>

<h1><a href="{{homepage}}"><span class="CEURVOLACRONYM">{{NNNN}} {{YYYY}}</span></a><br>
<span class="CEURVOLTITLE">{{CEURVOLTITLE}}</span></h1>
<br>

<h3>
<span class="CEURFULLTITLE">{{CEURFULLTITLE}}</span><br>
{% if development %}<pre># delete one of the following two CEURCOLOCATED lines:</pre>{% endif %}
{% unless CEURCOLOCATED == "NONE" %}
{% unless colocated_label %}
co-located with <span class="CEURCOLOCATED">{{CEURCOLOCATED}}</span><br>
{% else %}
co-located with {{colocated_label}} (<span class="CEURCOLOCATED">{{CEURCOLOCATED}}</span>)<br>
{% endunless %}
{% endunless %}
</h3>
<h3><span class="CEURLOCTIME">{{CEURLOCTIME | umlaut_escape}}</span>.</h3>
{% if development %}<pre># If the event is virtual, then specify "Virtual Event, City, Country ..." using the location of the local organizer of the event</pre>{% endif %}

<br>
<b> Edited by </b>
{%- if development -%}
<p>
<pre># use full names, but omit any academic title</pre>
</p>
{% endif %}
<h3>
{%- assign affiliations = "" -%}
{%- assign affiliation_counter = 0 -%}
{%- for editor in editors -%}
{%- assign CEURVOLEDITOR = editor | rdf_property: "foaf:name" -%}
{%- assign voleditor_homepage = editor | rdf_property: "foaf:homepage" -%}
{%- assign voleditor_affiliation = editor | rdf_property: "schema:affiliation" -%}
{%- assign voleditor_member = editor | rdf_property: "schema:memberOf" -%}
{%- if voleditor_homepage -%}
   <a href="{{voleditor_homepage}}"><span class="CEURVOLEDITOR">{{CEURVOLEDITOR | umlaut_escape}}</span></a>
{% else -%}
   <span class="CEURVOLEDITOR">{{CEURVOLEDITOR | umlaut_escape}}</span>
{% endif -%}
{% if voleditor_affiliation %}
{%- assign affiliation_counter = affiliation_counter | plus: 1 -%}
{%- assign range = (1..affiliation_counter) -%}
{% for i in range -%}*{%- endfor -%}
{%- capture new_affiliation -%}
{%- for i in range -%}*{%- endfor %} {% include affiliation.html affiliation=voleditor_affiliation %}<br>
{%- endcapture -%}
{%- assign affiliations = affiliations | append: new_affiliation -%}
{%- endif -%}
{% if voleditor_member %}
{%- assign affiliation_counter = affiliation_counter | plus: 1 -%}
{%- assign range = (1..affiliation_counter) %}
{% for i in range -%}*{%- endfor -%}
{%- capture new_affiliation -%}
{%- for i in range -%}*{%- endfor %} {% include affiliation.html affiliation=voleditor_member %}<br>
{%- endcapture -%}
{%- assign affiliations = affiliations | append: new_affiliation -%}
{%- endif -%}<br>
{%- endfor -%}

</h3>

{{affiliations}}
  <br>

<hr>

<br><br><br>

{% if development %}
<pre># Instructions for Table of Contents
# The table of contents normally is a plain list of papers (with titles/authors).
# The paper title should be linked to the paper URL (usually pdf).
# You may include "session" subsections e.g. to reflect the track structure of your workshop.
# Authors should be specified as comma-separated lists with full author names
# (like John Smith). Avoid glue words like 'by' and 'and'. If applicable, then lookup how
# the author is spelled out by DBLP.
# You may also provide additional material such as preface, bibtex files, complete
# proceedings as a single pdf, and similar items. The additional items should be
# clearly separated from the paper list, preferably after the table of contents.
# Please only tag original papers with the CEURTITLE/CEURAUTHOR scheme. Rather do not tag
# additional material with this scheme!
# For the time being, presentation slides should also not be tagged by CEURTITLE/CEURAUTHOR.
#
# CEUR-WS shall watermark PDF files in a published volume by its online CEUR-WS.org URL.
# If there are certain PDF files like frontmatter or images that you like to exclude
# from watermarking, then give it a name like 'xfrontmatter.pdf'.
#
# For all other PDF files, use functional names like
#   - paper1.pdf   (regular papers; start with paper1, then paper2,...)
#   - invited1.pdf  (invited paper)
#   - keynote1.pdf  (a variant for invited papers)
#   - short1.pdf   (a short paper that still is a citable paper)
#   - abstract1.pdf  (an abstract that is not supposed to be a citable paper)
#   - preface.pdf   (a preface, usually not citable)
# By default, all PDF files of a published volume will be watermarked by their online CEUR-WS URL.
# You can disable this by prefixing the filename with the letter 'x', see xpreface below.
#</pre>
{% endif %}


<div class="CEURTOC">
<h2> Table of Contents </h2>

{% if development %}
<pre># Prefaces, frontmatter etc. typically have no explicit authors.
# Note that the &lt;li id="..."&gt; attribute should have the same value as
# the name of the file linked to, just without the filename extension.
# This allows the table of contents entries to be linked to.
# If a preface has explicit authors and has the nature of a paper with
# more than 4-5 pages and a list of references, then use the CEUR tags like
# for regular papers.
# Please provide a summary sentence about the number of submitted and accepted papers. You can explain the peer-review
# process in more detail in the preface pdf file. You can change the precise wording of the sentence to adapt it to
# the context of your workshop/conference. The tags for REGULAR and SHORT papers are optional.
# </pre>
{% endif %}
<ul>
<li id="xpreface">
<A href="xpreface.pdf">Preface</A><BR>
Summary: There were <span class="CEURSUBMITTEDPAPERS">{{CEURSUBMITTEDPAPERS}}</span> papers submitted for peer-review to this workshop. Out of these,
<span class="CEURACCEPTEDPAPERS">{{CEURACCEPTEDPAPERS}}</span> papers were accepted for this volume,
<span class="CEURACCEPTEDREGULARPAPERS">{{CEURACCEPTEDREGULARPAPERS}}</span> as regular papers and
<span class="CEURACCEPTEDSHORTPAPERS">{{CEURACCEPTEDSHORTPAPERS}}</span> as short papers.
{%- if invited_papers %}
Further, {{invited_papers}} invited papers are included in the proceedings.
{%- endif -%}
</li>
</ul>
<BR>


{% if development %}
<pre># The session element is optional. It structures the table of contents.
# Each CEURSESSION must be followed by at least one paper using the li clause
# You can also use h3 subtitles without the CEURSESSION tag. Then, no
# restriction is imposed.
#</pre>
{% endif %}


{% if development %}
<pre># paper links must follow directly the li element. Note that special characters like accents must be specified in their HTML command form!
# The LaTeX files for the new CEURART style are available as <a href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/hpvjjzhjxzjk">Overleaf Template</a> and as <A HREF="http://ceur-ws.org/Vol-XXX/CEURART.zip">download ZIP</A>.
# If you use a local LaTeX locally instead via Overleaf, then install a recent (2020) version of TeX-Live.
# The ZIP file also contains the DOCX and ODT variants of the CEUR-ART style.
# The DOCX templates <A HREF="CEUR-Template-1col.docx">CEUR-Template-1col.docx</A> and <A HREF="CEUR-Template-2col.docx">CEUR-Template-2col.docx</A>
# are available as well.
# You may also use the ODT templates <A HREF="CEUR-Template-1col.odt">CEUR-Template-1col.odt</A> and <A HREF="CEUR-Template-2col.odt">CEUR-Template-2col.odt</A>.
# The DOCX and ODT files are derived from a template created by Aleksandr Ometov
# and can be used under a Creative Commons License Attribute-ShareAlike 4.0 International.</pre>
{% endif %}

{%- assign sessions = workshop | sparql_query: subevent_query -%}
{%- for session in sessions -%}
{%- assign CEURSESSION = session.entity | rdf_property: "dct:title", site.language -%}
{%- unless CEURSESSION -%}
{%- assign CEURSESSION = session.entity | rdf_property: "dct:title" -%}
{%- endunless -%}
{%- assign papers = session.entity | sparql_query: subevent_query -%}
<h3><span class="CEURSESSION">{{CEURSESSION | umlaut_escape}}</span></h3>

<ul>
{%- for paper in papers -%}
{%- assign paper_id = paper.entity | rdf_property: "dct:identifier" -%}
{%- assign exclude_res = paper.entity | sparql_query: "select ?exclude { ?resourceUri dw:exclude ?exclude_. bind(if(?exclude_, 'true', 'false') as ?exclude) }" -%}
{%- if exclude_res.first.exclude == "true" -%}
{%- assign exclude = true -%}
{%- else -%}
{%- assign exclude = false -%}
{%- endif -%}
{%- assign other_title = paper.entity | rdf_property: "dct:title", site.otherlanguage -%}
{%- assign CEURTITLE = paper.entity | rdf_property: "dct:title", site.language -%}
{%- unless CEURTITLE -%}
{%- assign CEURTITLE = paper.entity | rdf_property: "dct:title" -%}
{%- endunless -%}
{%- if other_title -%}
{%- assign CEURTITLE = other_title | append: " (" | append: CEURTITLE | append: ")" -%}
{%- endif -%}
{%- assign CEURPAGES = "" -%}
{%- assign authors = paper.entity | rdf_container: "schema:performer" -%}
{%- unless authors.first -%}
{%- assign authors = paper.entity | rdf_property: "schema:performer" | rdf_collection -%}
{%- endunless -%}
{%- unless authors.first -%}
{%- assign authors = paper.entity | rdf_property: "schema:performer", nil, true -%}
{%- endunless -%}
{%- assign track = "" -%}
{%- assign language = "" -%}
{%- assign isKeynote = paper.entity | sparql_query: "select ?entity { ?entity rdf:type dw:Keynote . filter(?entity = ?resourceUri) }" -%}
{%- assign isInvited = paper.entity | sparql_query: "select ?entity { ?entity rdf:type dw:InvitedPaper . filter(?entity = ?resourceUri) }" -%}
{%- assign isShort = paper.entity | sparql_query: "select ?entity { ?entity rdf:type dw:ShortPaper . filter(?entity = ?resourceUri) }" -%}
{%- assign isAbstract = paper.entity | sparql_query: "select ?entity { ?entity rdf:type dw:Abstract . filter(?entity = ?resourceUri) }" -%}
{%- if isKeynote.first -%}
{%- assign track = " (keynote)" -%}
{%- elsif isInvited.first -%}
{%- assign track = " (invited paper)" -%}
{%- elsif isAbstract.first -%}
{%- assign track = " (abstract)" -%}
{%- elsif isShort.first -%}
{%- assign track = " (short paper)" -%}
{%- endif -%}
{%- if exclude -%}
{%- assign track = track | append: " (invited talk)" -%}
{%- endif -%}
{%- capture language_query -%}
select ?label {
  ?resourceUri schema:availableLanguage ?language .
  filter(?language != <http://lexvo.org/id/iso639-3/eng>)
  ?language rdfs:label ?label .
  filter(langMatches(lang(?label), "{{site.language}}"))
}
{%- endcapture -%}
{% assign language_res = paper.entity | sparql_query: language_query %}
{% if language_res.first %}
{%- assign language = " (" | append: language_res.first.label | append: ")" -%}
{% endif %}
{% unless exclude %}
<li id="{{paper_id}}"><a href="{{paper_id}}.pdf">
<span class="CEURTITLE">{{CEURTITLE | umlaut_escape}}{{track}}</span></a>{{language}}
{% else %}
<li>
{{CEURTITLE | umlaut_escape}}{{track}}{{language}}
{% endunless %}
{%- comment -%}<span class="CEURPAGES">{{CEURPAGES}}</span>{%- endcomment -%}
<br>
{%- for author in authors -%}
{%- assign CEURAUTHOR = author | rdf_property: "foaf:name" -%}
<span class="CEURAUTHOR">{{CEURAUTHOR | umlaut_escape}}</span>{% unless forloop.last %}, {% endunless %}
{%- endfor -%}
</li>
{%- endfor -%}
</ul>
{%- endfor -%}

</div>


<hr>
<span class="unobtrusive">
{{YYYY}}-{{MM}}-{{DD}}: submitted by Peter Coeditor,
            metadata incl. bibliographic data published under <A HREF="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</A><br>
<span class="CEURPUBDATE">yyyy-mm-dd</span>: published on CEUR Workshop Proceedings (CEUR-WS.org, ISSN 1613-0073)
	|<a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fceur-ws.org%2FVol-XXX%2F">valid HTML5</a>|
</span>
</body></html>
